.imgCard {
    width: 200px;
    height: 200px;
  }
  
  .imgBox {
    max-width: 205px;
    padding: 16px;
    border: 2px solid black;
    border-radius: 3px;
    margin: 0 10px 10px 0;
  }
  
  .imgFlex {
      display: flex;
      flex-wrap: wrap;
  }
  